@import "tailwindcss";

@property --border-angle {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}


@theme {
    --animate-rotate-border: border-rotate 5s linear infinite;

    @keyframes border-rotate {
        to {
            --border-angle: 360deg;
        }
    }
}


@layer utilities {
    .scrollbar-hide {
        -ms-overflow-style: none;

        scrollbar-width: none;

    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;

    }
}


@keyframes gradientMove {
    0% {
        background-position: 0% 0;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0% 0;
    }
}

.animate-gradient-x {
    animation: gradientMove 7s linear infinite;
    background-size: 200% 100%;
}